streamlit~=1.40.1
streamlit-extras>=0.3.0
streamlit-echarts>=0.4.0
textract~=1.6.5
openai~=1.54.5
httpx<0.28.0
pyecharts~=2.0.7
duckduckgo-search~=6.3.7
langchain~=0.3.7
langchain-community~=0.3.7
langchain-core~=0.3.19
dashscope>=1.17.0
redis>=5.0.0
rq>=1.15.0